# Managed by fedora-workstation-ansible (zsh_ricing).
command = /usr/bin/zsh
theme = Night Lion V2
font-family = "JetBrainsMono Nerd Font Mono"
font-feature = liga
font-feature = dlig

window-height = 30
window-width = 110
background-opacity = 0.85
background-blur = 5
