{
  "telemetry.telemetryLevel": "off",
  "editor.minimap.enabled": false,
  "github.copilot.nextEditSuggestions.enabled": true,
  "github.copilot.enable": {
    "dotenv": false,
    "markdown": true
  },
  "telemetry.editStats.enabled": false,
  "telemetry.feedback.enabled": false,
  "diffEditor.ignoreTrimWhitespace": false,
  "workbench.iconTheme": "material-icon-theme",
  "chat.viewSessions.orientation": "stacked"
}
